* {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #1d4738;
    font: caption;
}

.movies_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 35px;
}

div.movie:hover {
    cursor: pointer;
    border-color: blue;
}

div.movie img {
    height: auto;
    width: 111px;
}

div.title {
    margin-bottom: 2px;
    margin-left: 2px;
    max-width: 115px;
    font-size: 13px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

div.movie {
    border: 1px solid black;
    margin-bottom: 0.3em;
    /* width: 127px; */
    width: 113px;
}

.preview_container {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
}

/*
.preview_item {
    margin: 10px;
    background-color: blueviolet;
    border: 1px solid red;
    flex: 0 1 45%;
    align-self: stretch;
}
*/

.preview_image_container {
    align-self: center;
    flex: 0 1 32%;
    margin: 10px;
}

.preview_image_container img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.preview_info_container {
    margin: 10px;
    flex: 0 1 50%;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
}

.preview_title {
    font-weight: bold;
    font-style: italic;
    align-self: center;
    font-size: 30px;
    height: 1%;
}

.preview_year {
    font-weight: bold;
    font-size: 23px;
    height: 1%;
}

.preview_desc {
}

.preview_genres {
    font-size: 17px;
    font-style: italic;
}

.close_button {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 2em;
    margin: 1em;
    cursor: pointer;
    z-index: 10;
}
.close_button:hover {
    color: darkred;
}

.black_button {
    background-color: black;
    color: darkgrey;
    border: 0px;
    flex: 0 0 10%;
    margin-right: 10px;
}
.black_button:hover {
    background-color: #300010;
}

.video_container {
    height: 100%;
    width: 100%;
    display: none; /* display is block */
    overflow: hidden;
}

.video_container video {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.trailer_container {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: none;
}

.trailer{
    height: 100%;
    width: 100%;
}

.preview_buttons_container {
    display: flex;
    flex-flow: row wrap;
    height: 25px;
}

::-webkit-scrollbar {
    background-color: #1d4738;
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #2d3738;
    border-radius: 200px;
    
}
 
::-webkit-scrollbar-thumb {
    background: #2d7758;
    border-radius: 200px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d8748;
}

.top_bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #1f4f3f;
    display: flex;
    flex-flow: row wrap;
}

.top_bar_menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
    cursor: default;
    display: none;
}

.top_bar_menu {
    float: left;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 10;
    background-color: #1f1f1f;
    color: #4f8f3f;
}
